<a href="https://colab.research.google.com/github/nonecanseeus/2023--2/blob/main/1027%20variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
type (a)

int

In [ ]:
a = 1; print(type(a))

<class 'int'>

type 도 함수구나, a를 입력으로 받아들였구나라고 생각해야 함.
변수의 종류는 크게 문자와 숫자만 있다.
int = 정수

In [ ]:
a = 1
print (a)

1

숙제를 해야 되는 경우에 이걸로 해서 통으로 피디엪 따서 제출하면 된대... 그거 어떻게 하는 건데?

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

float = 실수

In [ ]:
a = 1 + 1

a

2

In [ ]:
a = '1' + '1'

a

'11'

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

작은 따옴표에 넣어라.
문자는 string = str  quote되지 않은 문자는 변수라고 생각함.

a

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [ ]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [ ]:
a = [1,'a', [3, '4']]
a [2][1]

'4'

리스트 속의 리스트 숫자 하나만 부르고 싶으면 대괄호 하나 더 붙이

[]리스트 속에는 숫자, 문자, 리스트도 들어갈 수 있다.
앞에서부터 0번째, 1번째... -> a[0] = 1이 나온다.

In [ ]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a =	{'a': 'apple', 'b': 'orange', 'c': 2014, '김철수': '02-3290-1114' }
a['김철수']

'02-3290-1114'

dict 변수 - {}
리스트는 []
access는 어떻게 하는가? -> 앞부분을 물어보면 됨